.activity-professionals {
    background-color: gainsboro;
    margin-top: 100px;
    padding-top: 50px;
}

.activity-professionals h2 {
    font-family: cursive;
    font-weight: 600;
    color: #4c22a1;
    margin-bottom: 50px;
}

.activity-professionals {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

@media (max-width: 768px) {
    .activity-professionals div {
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
}