.customer-review {
    margin: 10px;
    background-color: #c3f5ff;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}

.customer-review p {
    font-family: cursive;
}

.customer-review h6 {
    color: #4c22a1;
    font-weight: bold;
}
