.story-section {
    margin-top: 100px;
    padding: 50px 30px;
    background-color: ghostwhite;
}

.story-section h3 {
    font-family: cursive;
    font-weight: 700;
    color: #6071e0;
    margin-bottom: 25px;
}

.story-section h2 {
    color: #4c22a1;
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 50px;
}

.story-section div {
    display: flex;
    justify-content: space-around;
}

.story-text {
    margin-top: 25px;
    padding: 20px;
    color: darkslategrey;
}

.story-img {
    padding: 20px;
}

@media (min-width: 600px){
    .story-section{
        margin-top: 400px;
    }
}

@media (max-width: 500px){
    .story-section{
        margin-top: 500px;
    }
}